# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
*.egg-info/

# App
host_settings.json
host_settings.json.bak
host.log
*.vst3
presets/*
session.json
session.json.bak
autosaves/*
user_data/
!vst/.gitkeep
!user_data/.gitkeep
!autosaves/.gitkeep

# PyInstaller
dist/
build/
*.spec.bak

# Generics
.DS_Store
Thumbs.db
desktop.ini
.vscode
